*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(226, 39, 223, 0.227);

    margin: 0 auto;
    max-width: max-content;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.div-form{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
}
#submit{
    background-color: rgba(40, 177, 134, 0.249);
    border-radius: 8px;
    width: 400px;
}


label{
    line-height: 35px;
}

h1{
    text-align: center;
}
